let g:author = "{{ vimconfig_author }}"
let g:copyright = "{{ vimconfig_copyright }}"
let g:license = "{{ vimconfig_license }}"
let g:mailaddress = "{{ vimconfig_mailaddress }}"
let g:company = "{{ vimconfig_company }}"
